---
import type { SanityDocument } from "@sanity/client";
import Layout from "../layouts/Layout.astro";
import CustomVideoPlayer from "../components/CustomVideoPlayer.astro";

import CustomTitle from "../components/CustomTitle.astro";

import { Image } from "astro:assets";
import { loadQuery } from "../sanity/lib/load-query";
import { urlForImage } from "../sanity/lib/urlForImage";
import { PortableText } from "astro-portabletext";

import {
  getHomepageContent,
  getAboutContent,
  getContactContent,
  getPosts,
} from "../sanity/lib/load-content";

const homepage = await getHomepageContent();
const about: {
  title: string;
  pageType: string;
  body?: any;
  clients?: any;
  clientsTitle?: string;
} = await getAboutContent();
const contact = await getContactContent();
const posts = await getPosts();

console.log("CLIENTS", about.clients);
---

<Layout>
  <div class="wrapper" id="top">
    {
      homepage && (
        <div class="hero ">
          {/* <h2>{homepage.title}</h2> */}
          {homepage.showreelDesktop &&
            homepage.posterImageDesktop &&
            homepage.showreelMobile &&
            homepage.posterImageMobile && (
              <div class="responsive-video">
                <CustomVideoPlayer
                  id="custom-video-player"
                  videoUrlMobile={homepage.showreelMobile}
                  videoUrlDesktop={homepage.showreelDesktop}
                  posterImage={homepage.posterImageDesktop}
                  aspectRatio="16/9"
                  class="video"
                />
              </div>
            )}
          <pre>This is the homepage content.</pre>
        </div>
      )
    }

    <div class="information">
      <div id="info" class="content__wrapper container stretch">
        {
          about && (
            <section class="about">
              <div class="info">
                {/* <CustomTitle delay={10} size="medium" textInput={about.title} /> */}

                {about.body && <PortableText value={about.body} />}
              </div>
              <div class="clients">
                <CustomTitle
                  delay={0}
                  size="medium"
                  textInput={about.clientsTitle}
                />
                <ul>
                  {about.clients &&
                    about.clients.map((client: any, index: number) => (
                      <li
                        class="client"
                        style={{ "--delay": `${index * 0.05}s` }}
                      >
                        {client.children[0].text}
                      </li>
                    ))}
                </ul>
                {/* {about.clients && <PortableText value={about.clients} />} */}
              </div>
            </section>
          )
        }

        <section class="contact">
          {
            contact && (
              <section class="contact__details">
                <CustomTitle
                  size="medium"
                  delay={10}
                  textInput={contact.title}
                />
                {contact.contact && <PortableText value={contact.contact} />}
              </section>
            )
          }
        </section>

        <!-- <section class="posts">
          <h2>Posts</h2>
          <ul>
            {
              posts.map((post: SanityDocument) => (
                <li>
                  <a href={`post/${post.slug.current}`}>
                    <h3>{post.title}</h3>
                  </a>
                  {post.featImage.asset && (
                    <Image
                      src={urlForImage(post.featImage).url()}
                      widths={[480, 960, 1440, 1920, 2560]}
                      inferSize
                      sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1080px) 720px, 1080px"
                      alt={post.title}
                      class="page__cover"
                    />
                  )}
                </li>
              ))
            }
          </ul>
        </section> -->
      </div>
    </div>
  </div>
</Layout>

<style lang="scss" is:global>
  pre {
    display: none;
  }

  .wrapper {
  }

  .hero {
    z-index: 5;
    height: 100dvh;

    div,
    video {
      height: 100%;
    }
  }

  .information {
    z-index: 10;
    position: relative;
    padding-block: var(--space-2xl);
    backdrop-filter: blur(5vw);
    background-color: rgba(var(--background-rgb), 0.75);
    border-radius: 5vw 5vw 0 0;
    transition: border-radius 2s cubic-bezier(0.16, 1, 0.3, 1) 0.125s;

    &.in-view {
      border-radius: 0 0 0 0;
      background-color: rgba(var(--background-rgb), 0.9);
    }

    & .content__wrapper {
      display: grid;
      gap: 3rem;
    }
  }

  section {
    &.about {
      & .info {
        // margin-block: 10vh;
      }
      & .info p:first-child {
        font-size: var(--fs-4);
        font-variation-settings: "wght" 400;
        line-height: 100%;
        margin-bottom: var(--space-xl);
      }

      & .info p {
        font-size: var(--fs-2);
      }

      & .clients {
        margin-top: var(--space-xl);
      }

      & .clients > ul {
        margin: 0;
        margin-top: var(--space-m);
        padding: 0;
        display: flex;
        align-items: first baseline;
        flex-wrap: wrap;
        gap: 0rem 1rem;

        & li {
          list-style: none;
          font-size: var(--fs-2);
          font-variation-settings: "wght" 224;
          line-height: 100%;
        }
      }
    }

    &.contact {
      margin-top: var(--space-xl);

      & h3 {
        font-size: var(--fs-3);
        font-variation-settings: "wght" 400;
        line-height: 112.5%;
      }

      & p {
        font-size: var(--fs-2);
        font-variation-settings: "wght" 224;
        line-height: 100%;
      }

      & ul {
        margin: 0;
        margin-block: var(--space-xs);
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        & li {
          list-style: none;
          font-size: var(--fs-2);
          font-variation-settings: "wght" 224;
          line-height: 100%;
        }
      }
    }
  }

  .posts {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;

    & li {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  @keyframes clientHover {
    0% {
      font-variation-settings: "wght" 224;
      font-size: var(--fs-2);
    }

    100% {
      font-variation-settings: "wght" 470;
      font-size: var(--fs-5);
    }
  }
</style>

<script></script>
