---
import type { SanityDocument } from "@sanity/client";
import Layout from "../layouts/Layout.astro";
import CustomVideoPlayer from "../components/CustomVideoPlayer.astro";

import { Image } from "astro:assets";
import { loadQuery } from "../sanity/lib/load-query";
import { urlForImage } from "../sanity/lib/urlForImage";
import { PortableText } from "astro-portabletext";

const { data: posts } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post"][0...3]`,
});
const { data: pages } = await loadQuery<{
  title: string;
  pageType: string;
  body?: string;
  contact?: string;
}>({
  query: `*[_type == "pages"]`, // Haal alle pages op
});

// console.log("Posts:", posts);
// console.log("Pages:", pages);
---

<Layout>
  {
    Array.isArray(pages) &&
      pages
        .sort((a, b) => {
          const order = ["homepage", "about", "contact"];
          return order.indexOf(a.pageType) - order.indexOf(b.pageType);
        })
        .map((page) => (
          <div class="container">
            <h2>{page.title}</h2>

            {page.pageType === "homepage" && (
              <div>
                {page.showreelDesktop &&
                  page.posterImageDesktop &&
                  page.showreelMobile &&
                  page.posterImageMobile && (
                    <div class="responsive-video">
                      <CustomVideoPlayer
                        videoUrl={page.showreelDesktop}
                        posterImage={page.posterImageDesktop}
                        aspectRatio="16/9"
                        class="desktop-video"
                      />
                      <CustomVideoPlayer
                        videoUrl={page.showreelMobile}
                        posterImage={page.posterImageMobile}
                        aspectRatio="9/16"
                        class="mobile-video"
                      />
                    </div>
                  )}

                <pre>This is the homepage content.</pre>
              </div>
            )}

            {page.pageType === "about" && page.body && (
              <div class="">
                <PortableText value={page.body} />
              </div>
            )}

            {page.pageType === "contact" && page.contact && (
              <div>
                <PortableText value={page.contact} />
              </div>
            )}
          </div>
        ))
  }

  <section class="container posts">
    <h2>Posts</h2>
    <u>
      {
        posts.map((post: SanityDocument) => (
          <li>
            <a href={`post/${post.slug.current}`}>
              <h3>{post.title}</h3>
            </a>
            {post.featImage && (
              <Image
                src={urlForImage(post.featImage).url()}
                widths={[480, 960, 1440, 1920, 2560]}
                inferSize
                sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1080px) 720px, 1080px"
                alt={post.title}
                class="page__cover"
              />
            )}
          </li>
        ))
      }
    </u>
  </section>
</Layout>

<style lang="scss">
  .posts {
    display: grid;

    gap: 1rem;
    margin-top: 2rem;

    & li {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    & img {
      max-width: 100%;
      height: auto;
    }
  }
</style>
