---
import type { SanityDocument } from "@sanity/client";
import Layout from "../layouts/Layout.astro";
import CustomVideoPlayer from "../components/CustomVideoPlayer.astro";

import { Image } from "astro:assets";
import { loadQuery } from "../sanity/lib/load-query";
import { urlForImage } from "../sanity/lib/urlForImage";
import { PortableText } from "astro-portabletext";

// Load homepage content
const { data: homepage } = await loadQuery<{
  title: string;
  pageType: string;
  showreelDesktop?: string;
  posterImageDesktop?: string;
  showreelMobile?: string;
  posterImageMobile?: string;
}>({
  query: `*[_type == "pages" && pageType == "homepage"][0]`,
});

// Load about content
const { data: about } = await loadQuery<{
  title: string;
  pageType: string;
  body?: any;
}>({
  query: `*[_type == "pages" && pageType == "about"][0]`,
});

// Load contact content
const { data: contact } = await loadQuery<{
  title: string;
  pageType: string;
  contact?: any;
}>({
  query: `*[_type == "pages" && pageType == "contact"][0]`,
});

// Load posts
const { data: posts } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post"][0...3]`,
});
---

<Layout>
  <div class="homepage">
    {
      homepage && (
        <div class="container">
          {/* <h2>{homepage.title}</h2> */}
          {homepage.showreelDesktop &&
            homepage.posterImageDesktop &&
            homepage.showreelMobile &&
            homepage.posterImageMobile && (
              <div class="responsive-video">
                <CustomVideoPlayer
                  id="custom-video-player"
                  videoUrlMobile={homepage.showreelMobile}
                  videoUrlDesktop={homepage.showreelDesktop}
                  posterImage={homepage.posterImageDesktop}
                  class="video"
                />
              </div>
            )}
          <pre>This is the homepage content.</pre>
        </div>
      )
    }

    {
      about && (
        <div class="container">
          <h2>{about.title}</h2>
          {about.body && <PortableText value={about.body} />}
        </div>
      )
    }

    {
      contact && (
        <div class="container">
          <h2>{contact.title}</h2>
          {contact.contact && <PortableText value={contact.contact} />}
        </div>
      )
    }

    <section class="container posts">
      <h2>Posts</h2>
      <ul>
        {
          posts.map((post: SanityDocument) => (
            <li>
              <a href={`post/${post.slug.current}`}>
                <h3>{post.title}</h3>
              </a>
              {post.featImage.asset && (
                <Image
                  src={urlForImage(post.featImage).url()}
                  widths={[480, 960, 1440, 1920, 2560]}
                  inferSize
                  sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1080px) 720px, 1080px"
                  alt={post.title}
                  class="page__cover"
                />
              )}
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>

<style lang="scss">
  .posts {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;

    & li {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    & img {
      max-width: 100%;
      height: auto;
    }
  }
</style>

<script></script>
