---
import type { SanityDocument } from "@sanity/client";
import Layout from "../layouts/Layout.astro";
import CustomVideoPlayer from "../components/CustomVideoPlayer.astro";

import CustomTitle from "../components/CustomTitle.astro";

import { Image } from "astro:assets";
import { loadQuery } from "../sanity/lib/load-query";
import { urlForImage } from "../sanity/lib/urlForImage";
import { PortableText } from "astro-portabletext";

// Load homepage content
const { data: homepage } = await loadQuery<{
  title: string;
  pageType: string;
  showreelDesktop?: string;
  posterImageDesktop?: string;
  showreelMobile?: string;
  posterImageMobile?: string;
}>({
  query: `*[_type == "pages" && pageType == "homepage"][0]`,
});

// Load about content
const { data: about } = await loadQuery<{
  title: string;
  pageType: string;
  body?: any;
}>({
  query: `*[_type == "pages" && pageType == "about"][0]`,
});

// Load contact content
const { data: contact } = await loadQuery<{
  title: string;
  pageType: string;
  contact?: any;
}>({
  query: `*[_type == "pages" && pageType == "contact"][0]`,
});

// Load posts
const { data: posts } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post"][0...3]`,
});
---

<Layout>
  <div class="wrapper" id="top">
    {
      homepage && (
        <div class="hero ">
          {/* <h2>{homepage.title}</h2> */}
          {homepage.showreelDesktop &&
            homepage.posterImageDesktop &&
            homepage.showreelMobile &&
            homepage.posterImageMobile && (
              <div class="responsive-video">
                <CustomVideoPlayer
                  id="custom-video-player"
                  videoUrlMobile={homepage.showreelMobile}
                  videoUrlDesktop={homepage.showreelDesktop}
                  posterImage={homepage.posterImageDesktop}
                  aspectRatio="16/9"
                  class="video"
                />
              </div>
            )}
          <pre>This is the homepage content.</pre>
        </div>
      )
    }
    <div class="spacer">dfvdf</div>

    <div class="information" id="top">
      <div id="info" class="content__wrapper container stretch">
        {
          about && (
            <section class="about">
              <CustomTitle delay={1000} textInput={about.title} />

              {about.body && <PortableText value={about.body} />}
            </section>
          )
        }

        {
          contact && (
            <section class="contact">
              <CustomTitle delay={1000} textInput={contact.title} />
              {contact.contact && <PortableText value={contact.contact} />}
            </section>
          )
        }

        <section class="posts">
          <h2>Posts</h2>
          <ul>
            {
              posts.map((post: SanityDocument) => (
                <li>
                  <a href={`post/${post.slug.current}`}>
                    <h3>{post.title}</h3>
                  </a>
                  {post.featImage.asset && (
                    <Image
                      src={urlForImage(post.featImage).url()}
                      widths={[480, 960, 1440, 1920, 2560]}
                      inferSize
                      sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1080px) 720px, 1080px"
                      alt={post.title}
                      class="page__cover"
                    />
                  )}
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss" is:global>
  pre {
    display: none;
  }

  .wrapper {
    position: relative;
  }

  .hero {
    z-index: 5;
    position: sticky;
    height: 100dvh;
    top: 0;
    left: 0;

    div,
    video {
      height: 100%;
    }
  }

  .information {
    z-index: 10;
    position: relative;
    padding-top: 2vw;
    backdrop-filter: blur(5vw);
    background-color: rgba(var(--background-rgb), 0.75);
    border-radius: 5vw 5vw 0 0;
    transition: border-radius 2s cubic-bezier(0.16, 1, 0.3, 1) 0.125s;

    &.in-view {
      border-radius: 0 0 0 0;
      background-color: rgba(var(--background-rgb), 0.9);
    }

    & .content__wrapper {
      display: grid;
      gap: 3rem;
      padding: 3rem 1rem;
    }
  }

  .posts {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;

    & li {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    & img {
      max-width: 100%;
      height: auto;
    }
  }
</style>

<script></script>
