---
import { urlForImage } from "../sanity/lib/urlForImage";
const {
  class: className,
  videoUrlDesktop,
  videoUrlMobile,
  posterImage,
  aspectRatio,
  ...rest
} = Astro.props;
---

<div data-cursor="video">
  <video
    id="video"
    muted
    autoplay
    loop
    playsinline
    style={`--aspect-ratio: ${aspectRatio}`}
    class={className}
    poster={urlForImage(posterImage).url()}
    data-cursor="video"
    data-desktop-vid={videoUrlDesktop}
    data-mobile-vid={videoUrlMobile}
    {...rest}
  >
    Your browser does not support the video tag.
  </video>
  <button id="audio-control" class="button muted">
    <img
      src="/icon-on.svg"
      alt="Audio Control Icon"
      class="audio-control-icon"
    />
  </button>
</div>

<style lang="scss">
  .responsive-video {
    display: flex;
    flex-direction: column;
  }

  video {
    aspect-ratio: var(--aspect-ratio);
    width: 100%;
    height: auto;

    &[poster] {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .desktop-video {
    display: none;
    aspect-ratio: 16 / 9;
  }

  .mobile-video {
    display: block;
    aspect-ratio: 9 / 16;
  }

  .button {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
  }

  .audio-control-icon {
    width: 2rem;
    height: 2rem;
    transition: opacity 0.3s ease;
  }

  @media (min-width: 768px) {
    .desktop-video {
      display: block;
    }
    .mobile-video {
      display: none;
    }

    .button {
      display: none;
    }
  }
</style>

<script is:inline>
  //@ts-nocheck
  function initializeVideoPlayer() {
    const videos = document.querySelectorAll(".video");
    const audioControlButton = document.getElementById("audio-control");
    const audioControlIcon = document.querySelector(".audio-control-icon");
    const cursorIcon = document.querySelector(".cursor-icon"); // Cursor icon voor mute/unmute

    // Functie om de video te muten of unmute
    function toggleMute(video) {
      if (!video) return;
      video.muted = !video.muted;
      updateButtonIcon(video);
      updateCursorIcon(video);
    }

    // Update de mute/unmute iconen van de button
    function updateButtonIcon(video) {
      if (!audioControlIcon) return;
      audioControlIcon.src = video.muted ? "/icon-on.svg" : "/icon-mute.svg";
    }

    // Update de mute/unmute iconen van de cursor
    function updateCursorIcon(video) {
      if (!cursorIcon) return;
      cursorIcon.src = video.muted ? "/icon-on.svg" : "/icon-mute.svg";
    }

    // Voeg click-event toe aan elke video
    videos.forEach((video) => {
      video.addEventListener("click", function (e) {
        e.preventDefault();
        toggleMute(video);
      });

      video.addEventListener("mousemove", () => {
        const cursor = document.querySelector(".cursor");
        if (cursor) {
          gsap.to(cursor, {
            scale: 3.5,
            autoAlpha: 0.9,
            duration: 0.1,
          });
          updateCursorIcon(video);
        }
      });

      video?.addEventListener("mouseleave", () => {
        const cursor = document.querySelector(".cursor");
        const cursorIcon = document.querySelector(".cursor-icon");

        if (cursor) {
          gsap.to(cursor, {
            scale: 1, // Terug naar originele grootte
            backgroundColor: "red", // Rode achtergrondkleur
            autoAlpha: 0.7, // Transparantie naar standaardwaarde
            duration: 0.3, // Animatieduurr
          });
        }

        if (cursorIcon) {
          cursorIcon.setAttribute("src", ""); // Leeg het icoon
          cursorIcon.style.display = "none"; // Verberg het icoon
        }
      });
    });

    // Voeg click-event toe aan de "audio-control" button
    if (audioControlButton) {
      audioControlButton.addEventListener("click", function (e) {
        e.preventDefault();
        videos.forEach((video) => toggleMute(video));
      });
    }

    // Video source toevoegen aan video tag
    function addSourceToVideo(element, src) {
      const source = document.createElement("source");
      source.src = src;
      source.type = "video/mp4";
      console.log("Video source added:", src);
      element.appendChild(source);
    }

    // Bepaal of desktop of mobiele video wordt geladen
    function whichSizeVideo(element, src) {
      const windowWidth =
        window.innerWidth || document.documentElement.clientWidth;
      if (windowWidth > 1200) {
        addSourceToVideo(element, src.dataset.desktopVid);
      } else {
        addSourceToVideo(element, src.dataset.mobileVid);
      }
    }

    // Initialiseer video size
    function videoSize() {
      if (videos.length > 0) {
        videos.forEach((element) => {
          whichSizeVideo(element, element);
        });
      }
    }

    videoSize();
  }

  document.addEventListener("astro:page-load", initializeVideoPlayer);
  document.addEventListener("astro:after-swap", initializeVideoPlayer);
</script>
