---
import Navigation from "../components/Navigation.astro";
import { SkipLinks } from "accessible-astro-components";
import { Icon } from "astro-icon/components";

const { title, logoVideo, logoFallback = true, social } = Astro.props;

// console.log("social", social);
---

<header>
  <SkipLinks />
  <Navigation title={title} logoVideo={logoVideo} logoFallback={logoFallback}>
    <li class="menu-item" data-cursor="hover">
      <a href="#info">Info</a>
    </li>
    <li class="menu-item type-icon">
      <a href={social.url} title={social.name}>
        <!-- {social.name} -->
        <Icon name={`akar-icons:${social.name.toLowerCase()}-fill`} />
      </a>
    </li>
  </Navigation>

  <style lang="scss" is:global>
    @use "../assets/scss/base/outline" as *;

    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: var(--background);
      z-index: 999;

      .type-icon a {
        display: block;
        line-height: 100%;

        [data-icon] {
          height: auto;
          // margin-top: -4px;
          width: 1.5rem;

          path {
            fill: var(--action-color);
          }
        }

        &:hover {
          [data-icon] path {
            fill: var(--action-color-state);
          }
        }
      }
    }
  </style>
</header>
