---
import "../assets/scss/global.scss";
import "../assets/scss/main.scss";

import { getSiteSettings } from "../sanity/lib/sanity";
const siteSettings = await getSiteSettings();
// console.log("siteSettings", siteSettings);

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SiteMeta from "../components/siteMeta.astro";
import SiteSchema from "../components/siteSchema.astro";

import { VisualEditing } from "@sanity/astro/visual-editing";
const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";
---

<html lang={siteSettings.language || "en"}>
  <head>
    <SiteMeta settings={siteSettings} />
  </head>
  <body class="darkmode">
    <Header
      title={siteSettings.title}
      logoVideo={siteSettings.logoVideo}
      logoFallback={siteSettings.logoFallback}
    />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>

    <Footer title={siteSettings.title} timeZone={siteSettings.timezone} />
    <VisualEditing enabled={visualEditingEnabled} />
    <SiteSchema />
  </body>
</html>

<style></style>
